@import url('https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css');
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf) format('truetype');

}

html,
body {
  height: 100%;
  margin:0;
  padding:0;
  
}
body {
  font: 12px/1 'Montserrat', sans-serif;
  color: #333;
  background: #333;
  overflow-x: hidden;
  /* background-image: url; */
}
.wrapper {
  display: -webkit-flex;
  display: flex;
  min-height: 100%;
}
.sidebar {
  position: absolute;
  width: 220px;
}
.content {
  -webkit-flex: 1;
  flex: 1;
  padding: 30px;
  background: url('img/turntables.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
}
.content.content-is-open {
  margin-left: 220px;
}
.side-panel-toggle {
  cursor: pointer;
  font-size: 42px;
}
/* Demo Navigation */
.title {
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #eee;
  border-bottom: 1px solid #222;
  background: #2a2a2a;
}
/* #test,
#test0,
#test1,
#test2,
#test3,
#test4{
  position: relative;
  display: flex;
  flex-direction:row;
} */
.nav li a,
.nav li #test,
.nav li #test0,
.nav li #test1,
.nav li #test2, 
.nav li #test3,
.nav li #test4   {
  position: relative;
  display: flex;
  flex-direction:row;
  padding: 15px 15px 15px 20px;
  font-size: 16px;
  color: #eee;
  border-bottom: 1px solid #222;
}
.nav li a:before,
.nav li #test:before,
.nav li #test0:before,
.nav li #test1:before,
.nav li #test2:before, 
.nav li #test3:before,
.nav li #test4:before   {
  font: 14px fontawesome;
  position: absolute;
  top: 14px;
  left: 20px;
}
#spotify{
  height:35px;
  width:35px;
}

/* .nav li:nth-child(1) a:before {
  content: '\f00a';
} */
/* .nav li:nth-child(2) a:before {
  content: '\f012';
} */
/* .nav li:nth-child(3) a:before {
  content: '\f0e8';
}
.nav li:nth-child(4) a:before {
  content: '\f0c3';
}
.nav li:nth-child(5) a:before {
  content: '\f022';
}
.nav li:nth-child(6) a:before {
  content: '\f115';
}
.nav li:nth-child(7) a:before {
  content: '\f085';
}
.nav li:nth-child(8) a:before {
  content: '\f023';
  left: 23px;
} */
.nav li a:hover {
  background: #444;
}
.nav li a.active {
  box-shadow: inset 5px 0 0 #5b5, inset 6px 0 0 #222;
  background: #444;
}
/* Demo Description */
h1 {
  margin: 25px 0 15px;
  font-size: 28px;
  font-weight: 400;
}
h2 {
  font-size: 18px;
  font-weight: 400;
  color: #999;
}
hr{
  display:none;
}

#item{
  position: relative;
  display: block;
  margin-left:20px;
  /* padding: 15px 15px 20px; */
  font-size: 16px;
  color: #eee;
  border-bottom: 1px solid #222;
}

body {
  padding-top: 50px;
  font: 38px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.625;
  color: 	black;
  /* text-decoration: underline double 2px; */
  /* text-decoration-color: darkblue; */
  /* background: url(https://subtlepatterns.com/patterns/diamond_upholstery.png); */
}

.image-hover {
  position: fixed;
  display: inline-block;
  border: 1px solid dimgray;
  left: 25%;
  margin-left: -100px;
  margin-top:-775px;
  width: 290px;
  height: 290px;
  border-radius: 500px;
  padding: 20px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(top, #cccccc, #dddddd);
  background-image: -webkit-linear-gradient(top, #cccccc, #dddddd);
  background-image: linear-gradient(to bottom, #cccccc, #dddddd);
  box-shadow: 0px 1px 0px 1px rgba(250, 250, 250, 0.5) inset;
}
.image-hover:hover .hover {
  width: 290px;
  height: 290px;
  top: 0;
  left: 0;
  -webkit-animation: roll-anim 0.5s ease 0s;
}
.image-hover:hover .hover hr {
  -webkit-transition: all 0.7s ease 0.3s;
  margin: 0 30px;
  opacity: 1;
  border-width: 1px;
  padding: 0;
  border: 0;
  height: 1px;
  background-color: black;
  border-color: #fff;
  color: #fff;
}

.img-shadow {
  box-shadow: 0 0 20px black inset;
  width: 290px;
  height: 290px;
  position: absolute;
  z-index: 1000;
  border-radius: 500px;
}

.img-wrap {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 500px;
  z-index: 100;
  height: 420px;
  width: 420px;
  overflow: hidden;
  border-radius: 500px;
}

img {
  height: 420px;
  border-radius: 500px;
  overflow: hidden;
}

.hover {
  overflow: hidden;
  width: 0;
  height: 0;
  opacity: .9;
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  margin-top: 20px;
  margin-left: 20px;
  background-image: url('img/minors.png');
  /* background-size: 150px;
  width: 300px;
  height: 300px; */
  border-radius: 500px;
  transition: all 0.5s ease-in-out 0s;
  animation: roll-anim-end 0.5s ease 0s;
}
.hover p {
  text-align: center;
  color: black;
  font-size:24pt;
  font-weight: bold;
  margin-top: 45%;
}

hr {
  margin: 0 210px;
  opacity: 0;
}

@-webkit-keyframes roll-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes roll-anim-end {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


.image-hover2 {
  position: fixed;
  display: inline-block;
  border: 1px solid dimgray;
  left: 38%;
  /* margin-left: -300px; */
  margin-top:-480px;
  width: 275px;
  height: 275px;
  border-radius: 500px;
  padding: 20px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(top, #cccccc, #dddddd);
  background-image: -webkit-linear-gradient(top, #cccccc, #dddddd);
  background-image: linear-gradient(to bottom, #cccccc, #dddddd);
  box-shadow: 0px 1px 0px 1px rgba(250, 250, 250, 0.5) inset;
}
.image-hover2:hover .hover2 {
  width: 275px;
  height: 275px;
  top: 0;
  left: 0;
  -webkit-animation: roll-anim 0.5s ease 0s;
}
.image-hover2:hover .hover2 hr {
  -webkit-transition: all 0.7s ease 0.3s;
  margin: 0 30px;
  opacity: 1;
  border-width: 1px;
  padding: 0;
  border: 0;
  height: 1px;
  background-color: black;
  border-color: #fff;
  color: #fff;
}

.img-shadow2 {
  box-shadow: 0 0 20px black inset;
  width: 275px;
  height: 275px;
  position: absolute;
  z-index: 1000;
  border-radius: 500px;
}

.img-wrap2 {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 500px;
  z-index: 100;
  height: 420px;
  width: 420px;
  overflow: hidden;
  border-radius: 500px;
}

img {
  height: 420px;
  border-radius: 500px;
  overflow: hidden;
}

.hover2 {
  overflow: hidden;
  width: 0;
  height: 0;
  opacity: .9;
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  margin-top: 20px;
  margin-left: 20px;
  background-image: url('img/college-crowd.png');
  /* background-size: 150px;
  width: 300px;
  height: 300px; */
  border-radius: 500px;
  transition: all 0.5s ease-in-out 0s;
  animation: roll-anim-end 0.5s ease 0s;
}
.hover2 p {
  text-align: center;
  color: #fff;
  margin-top: 45%;
}

hr {
  margin: 0 210px;
  opacity: 0;
}

@-webkit-keyframes roll-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes roll-anim-end {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}



.image-hover3 {
  position: fixed;
  display: inline-block;
  border: 1px solid dimgray;
  left: 61%;
  /* margin-left: -300px; */
  margin-top:-800px;
  width: 300px;
  height: 300px;
  border-radius: 500px;
  padding: 20px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(top, #cccccc, #dddddd);
  background-image: -webkit-linear-gradient(top, #cccccc, #dddddd);
  background-image: linear-gradient(to bottom, #cccccc, #dddddd);
  box-shadow: 0px 1px 0px 1px rgba(250, 250, 250, 0.5) inset;
}
.image-hover3:hover .hover3 {
  width: 300px;
  height: 300px;
  top: 0;
  left: 0;
  -webkit-animation: roll-anim 0.5s ease 0s;
}
.image-hover3:hover .hover3 hr {
  -webkit-transition: all 0.7s ease 0.3s;
  margin: 0 30px;
  opacity: 1;
  border-width: 1px;
  padding: 0;
  border: 0;
  height: 1px;
  background-color: black;
  border-color: #fff;
  color: #fff;
}

.img-shadow3 {
  box-shadow: 0 0 20px black inset;
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: 1000;
  border-radius: 500px;
}

.img-wrap3 {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 500px;
  z-index: 100;
  height: 420px;
  width: 420px;
  overflow: hidden;
  border-radius: 500px;
}

img {
  height: 420px;
  border-radius: 500px;
  overflow: hidden;
}

.hover3 {
  overflow: hidden;
  width: 0;
  height: 0;
  opacity: .9;
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  margin-top: 20px;
  margin-left: 20px;
  background-image: url('img/college-kids.png');
  /* background-size: 150px;
  width: 300px;
  height: 300px; */
  border-radius: 500px;
  transition: all 0.5s ease-in-out 0s;
  animation: roll-anim-end 0.5s ease 0s;
}
.hover3 p {
  text-align: center;
  color: #fff;
  margin-top: 45%;
}

hr {
  margin: 0 210px;
  opacity: 0;
}

@-webkit-keyframes roll-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes roll-anim-end {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


.image-hover4 {
  position: fixed;
  display: inline-block;
  border: 1px solid dimgray;
  left: 73%;
  /* margin-left: -300px; */
  margin-top:-405px;
  width: 260px;
  height: 260px;
  border-radius: 500px;
  padding: 20px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(top, #cccccc, #dddddd);
  background-image: -webkit-linear-gradient(top, #cccccc, #dddddd);
  background-image: linear-gradient(to bottom, #cccccc, #dddddd);
  box-shadow: 0px 1px 0px 1px rgba(250, 250, 250, 0.5) inset;
}
.image-hover4:hover .hover4 {
  width: 260px;
  height: 260px;
  top: 0;
  left: 0;
  -webkit-animation: roll-anim 0.5s ease 0s;
}
.image-hover4:hover .hover4 hr {
  -webkit-transition: all 0.7s ease 0.3s;
  margin: 0 30px;
  opacity: 1;
  border-width: 1px;
  padding: 0;
  border: 0;
  height: 1px;
  background-color: black;
  border-color: #fff;
  color: #fff;
}

.img-shadow4 {
  box-shadow: 0 0 20px black inset;
  width: 260px;
  height: 260px;
  position: absolute;
  z-index: 1000;
  border-radius: 500px;
}

.img-wrap4 {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 500px;
  z-index: 100;
  height: 420px;
  width: 420px;
  overflow: hidden;
  border-radius: 500px;
}

img {
  height: 420px;
  border-radius: 500px;
  overflow: hidden;
}

.hover4 {
  overflow: hidden;
  width: 0;
  height: 0;
  opacity: .9;
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  margin-top: 20px;
  margin-left: 20px;
  background-image: url('img/over-18.png');
  /* background-size: 150px;
  width: 300px;
  height: 300px; */
  border-radius: 500px;
  transition: all 0.5s ease-in-out 0s;
  animation: roll-anim-end 0.5s ease 0s;
}
.hover4 p {
  text-align: center;
  color: #fff;
  margin-top: 45%;
}

hr {
  margin: 0 210px;
  opacity: 0;
}

@-webkit-keyframes roll-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes roll-anim-end {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  list-style: none;
}

h1 {
  font-weight: 400;
  font-size: 2.5em;
  text-align: center;
  margin-top: 5rem;
}

.wrap-up {
  width:190px;
  margin:30px auto;
  cursor:pointer;
  position:absolute;
  font-size:16pt;
  top:-25px;
  left:85%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #eee;
  border-bottom: 1px solid #222;
  font: 15px/1 'Montserrat', sans-serif;
}

.main-nav {
  position:relative;
  border:1px solid rgba(0, 0, 0 , 0.2);
  padding:15px;
  background-color: #2a2a2a;
  /* background: rgba(0, 0, 0, 0.78); */
  color: #fefefe;
}

.main-nav:hover {
  background: rgba(0, 0, 0, 0.9);
}

.main-nav > span {
  position:absolute;
  top: 17px;
  right:20px;
  cursor:pointer;
}

#list-items {
  display:none;
  margin-top:-1px;
  background: rgba(0, 0, 0, 0.78);
  color: #fefefe;
}

li{
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

.thing, .thing:visited {
  text-decoration:none;
  padding-left:0;
  color: #fefefe;
  padding:15px;
  display:block;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
#thing1{
  border: 1px solid lime;
  color:lime;
  text-transform: none !important;
  letter-spacing: normal;
  -webkit-text-size-adjust:none!important;
}
#thing12{
  border: 1px solid lime;
  color:lime;
  text-transform: none !important;
  letter-spacing: normal;
  -webkit-text-size-adjust:none!important;
}
#thing2{
  border: 1px solid aqua;
  color:aqua;
  text-transform: none !important;
  letter-spacing: normal;
  -webkit-text-size-adjust:none!important;
}

#thing3{
  border: 1px solid red;
  color:red;
  text-transform: none !important;
  letter-spacing: normal;
  -webkit-text-size-adjust:none!important;
}

#thing4{
  border: 1px solid yellow;
  color: yellow;
  text-transform: none !important;
  letter-spacing: normal;
  -webkit-text-size-adjust:none!important;
}
#thing5{
  border: 1px solid magenta;
  color: magenta;
  text-transform: none !important;
  letter-spacing: normal;
  -webkit-text-size-adjust:none!important;
}
#thing6, #thing7, #thing8, #thing9, #thing10{
  /* border: 1px solid magenta; */
  color: rgba(0, 0, 0, 0.78);
  border-top:1px solid  rgb(217, 217, 217, .2);
  text-transform: none !important;
  letter-spacing: normal;
  -webkit-text-size-adjust:none!important;
}

.thing:hover {
  background: rgba(0, 0, 0, 0.9);
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
#emphasis{
  font-size:16pt;
  font-weight:400;
}
#arrow-down{
  height:20px;
  width:23px;
  margin-right:-10px;}

.drop-box{
  width:180px;
  height:60px;
  margin-top:-1px;
  background: #2a2a2a;
  color: #fefefe;
  border:solid lime 2px;
  opacity: 0.8;
  border-radius: 5%;;
}

#drop-box7{
  position:absolute;
  top:88%;
  left:13%;
  font-size:15px;
  width:60px;
  border-image-source: linear-gradient(to bottom, #ff00ff 0%, #00ffff 100%);
  border-image-slice: 5;
  display:flex;
  flex-direction: row;
}
#speaker1,
#speaker2,
#speaker3,
#speaker4{
  height:57px;
  width:57px;
}

#drop-box8{
  position:absolute;
  top:88%;
  left:17%;
  font-size:15px;
  width:60px;
  border-image-source: linear-gradient(to bottom, #ff00ff 0%, #00ffff 100%);
  border-image-slice: 5;
  display:flex;
  flex-direction: row;
}
#drop-box9{
  position:absolute;
  top:88%;
  left:21%;
  font-size:15px;
  width:60px;
  border-image-source: linear-gradient(to bottom, #ff00ff 0%, #00ffff 100%);
  border-image-slice: 5;
  display:flex;
  flex-direction: row;
}
#drop-box10{
  position:absolute;
  top:88%;
  left:25.25%;
  font-size:15px;
  width:60px;
  border-image-source: linear-gradient(to bottom, #ff00ff 0%, #00ffff 100%);
  border-image-slice: 5;
  display:flex;
  flex-direction: row;
}

#song-box
/* #drop-box1{
  position:absolute;
  top:76%;
  left:78%;
  font-size:15px;
  margin-left:10px;
} */
#drop-box2{
  position:absolute;
  top:88%;
  left:30%;
  font-size:15px;
  /* margin-left:10px; */
  margin-right:10px;
}
#drop-box3{
  position:absolute;
  top:88%;
  left:33%;
  font-size:15px;
  /* margin-left:10px; */
  margin-right:10px;
}
#drop-box4{
  position:absolute;
  top:88%;
  left:44.5%;
  font-size:15px;
  margin-right:10px;
}
#drop-box5{
  position:absolute;
  top:88%;
  left:56%;
  font-size:15px;
  margin-right:10px;
  /* margin-left:10px; */
}
#drop-box6{
  position:absolute;
  top:88%;
  left:67.5%;
  font-size:15px;
  /* margin-left:10px; */
  margin-right:10px;
}

#drop-box11{
  position:absolute;
  top:88%;
  left:79%;
  font-size:15px;
  /* margin-left:10px; */
  margin-right:10px;
}




/* .track-list{
  position: relative;
  top:18%; 
  left:10%;
  background-color: black;
  height:80px;
  width:150;
} */

/* #speaker-boxes{
  position:fixed;
  bottom:10px;
  right:10px;
  height:90px;
  width:150px;
  background-color: white;
  border:solid 2px magenta;
} */